<!DOCTYPE html>
<!--suppress JSUnresolvedVariable -->
<html lang="en">
<head>
  <title>Vue.js Scratchpad</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" type="text/css" href="node_modules/vue-date-pick/dist/vueDatePick.css">

  <style>
    .vdpPeriodControl > select {
      /* Fix for a problem with month and year cursor positioning in Safari */
      -webkit-appearance: menulist-button;
    }
  </style>
</head>
<body>

<h1>Vue.js Scratchpad</h1>

<div v-show="true" id="app" style="display: none">
  <p>
    From: <date-input v-model="fromDate"></date-input>
    To: <date-input v-model="toDate"></date-input>
  </p>

  <p>
    <a href="#" @click.prevent="onNavigate">Load</a>
    <input v-model="user" placeholder="(Optional) Enter a name">
  </p>

  <p v-show="loading">Loading...</p>
  <router-view v-show="!loading" :user="user"
               @loading="onLoading" @success="onLoaded"
               @loading-error="onLoadingError"></router-view>

  <p>"From" value: `{{fromDate == null ? 'null': fromDate}}`</p>
  <p>"To" value: `{{toDate == null ? 'null': toDate}}`</p>
</div>

<!-- Polyfills are typically included before other app scripts -->
<script src="node_modules/ts-polyfill/dist/ts-polyfill.min.js"
        type="application/ecmascript"></script>

<script>
  // noinspection ES6ConvertVarToLetConst: using `var` per RequireJS docs
  var require = {
    /*
    Required.
    Compiled app modules are resolved using he default mapping from this directory.
    Third-party libraries are resolved using explicit path mappings relative to this directory.
    */
    baseUrl: 'out',

    paths: {
      //region Vue.js and Vue Router

      // See https://stackoverflow.com/questions/59958983/cant-make-vue-js-typescript-requirejs-stack-work-after-vue-js-2-5-upgrade
      Vue: "../node_modules/vue/dist/vue",
      vue: "vue-loader",
      "Vue-router": "../node_modules/vue-router/dist/vue-router.min",
      "vue-router": "vue-router-loader",
      //endregion

      //region Other libraries (in alphabetical order)
      // All third-party libraries must be included here. Use path fallbacks for minimized libs.
      axios: "../node_modules/axios/dist/axios.min",
      luxon: "../node_modules/luxon/build/amd/luxon",
      text: "../node_modules/text/text",

      "vue-class-component": ["../node_modules/vue-class-component/dist/vue-class-component.min",
        "../node_modules/vue-class-component/dist/vue-class-component"],
      "vue-date-pick": "../node_modules/vue-date-pick/dist/vueDatePick",
      "vue-property-decorator":
          "../node_modules/vue-property-decorator/lib/vue-property-decorator.umd"
      //endregion
    }
  };
</script>
<script data-main="app" src="node_modules/requirejs/require.js"
        type="application/ecmascript"></script>
</body>
</html>