[Unit]
Description=A web application

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /apps/app.jar \\
    --custom.prop='${CUSTOM_PROP}' \\
    --server.servlet.context-path=/app

# The process is terminated by sending SIGTERM, which initiates a graceful shutdown.
# Specifies which signal to use when stopping a service. This controls the signal that is sent as first step of shutting
# down a unit, and is usually followed by SIGKILL. Defaults to SIGTERM.
#KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target